* {
	margin: 0;
	padding: 0;
}

body {
	/*background-image: url('../resources/background.jpg');*/
	background-image: url('../resources/world-tiles/Water.PNG');
	background-repeat: repeat;
	/*background-size: cover;*/
}

#game-container{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-color: blue;
	width: 1400px;
	height: 700px;
	cursor: crosshair;
}

#background-canvas {
	background-image: url('../resources/background/landscape.png');
	/*border-left: 10px solid black;*/
	/*border-right: 10px solid black;*/
	/*border-top: 5px solid black;*/
}

.lobby-input {
	width: 300px;
	height: 50px;
	font-size: 20px;
	text-align: center;
	border: none;
	border-radius: 10px;
	position: absolute;
}

#join-input {
	right: 80px;
	bottom: 90px;
}

#create-input {
	left: 600px;
	top: 300px;
}

.lobby-button {
	position: absolute;
	width: 300px;
	height: 35px;
	font-size: 20px;
	text-align: center;
	border: none;
	border-radius: 5px;
	background-color: #ff8080;
}

#username-input {
	height: 50px;
	width: 500px;
	position: absolute;
	text-align: center;
	font-size: 2em;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	top: 400px;
	left: 75px;
}

#create-submit-button {
	left: 600px;
	top: 360px;
}

#join-submit-button {
	right: 80px;
	bottom: 45px;
}

#join-submit-button:hover, #create-submit-button:hover {
	background-color: #ff4d4d;
}

#join-submit-button:active, #create-submit-button:active {
	background-color: #b30000;
}

#message-modal {
	margin-top: 15%;
}

canvas {
	background-color: none;
	width: 1400px;
	height: 700px;
	margin-left: -20px;
	margin-top: -20px;
	/*border: 10px solid black;*/
}

#controls-form-id input {
	height: 50px;
	width: 50px;
	text-align: center;
	font-size: 3em;
	cursor: pointer;
	border: none;
	border-radius: 5px;
}

#controls-form-id input:hover {
	background-color: yellow;
}

#controls-form-id {
	position: absolute;
	left: 1125px;
	top: 45px;
}

/*The following styling (1) is pulled from: https://www.w3schools.com/howto/howto_js_snackbar.asp*/
/*=================================================================================================== (1)*/
 /* The toast - position it at the bottom and in the middle of the screen */
#toast {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the toast */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the toast when clicking on a button (class added with JavaScript) */
#toast.show {
    visibility: visible; /* Show the toast */

/* Add animation: Take 0.5 seconds to fade in and out the toast.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
    animation: fadein 0.5s, fadeout 0.5s 4.5s;
}

/* Animations to fade the toast in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
/*=================================================================================================== (1)*/
