<html>
  <head>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" type="stylesheet"></link>
  </head>
  <body>
    <h1>Title: {{title}}</h1>
    <ul>
      {{#each durpList}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
    <script>
      $(function () {
        $.ajax({
          url: '/testing',
          type: 'POST',
          data: {durp: 'durp==============================================================================================================='},
          success: function (res) {
            console.log("RES: ", res);
          }
        })
      });
    </script>
  </body>
</html>