<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8"></meta>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="style/play.css" rel="stylesheet"></link>
	<script src="/socket.io/socket.io.js"></script>
	<script src="scenes/sceneInputs.js"></script>
	<script src="scenes/MasterScene.js"></script>
	<script src="game/game.js"></script>
	<script src="scenes/lobbyScene.js"></script>
	<style>
		canvas {
			position: absolute;
			top: 20px;
			left: 20px;
		}
		#scenery-canvas {
			background-color: blue;
		}
		#player-canvas {
			background-color: black;
		}
		button {
			width: 200px;
		}
	</style>
</head>
<body>
	<div id="game-container">
		<canvas id="background-canvas" width=1400 height=700></canvas>
		<canvas id="game-canvas" width=1400 height=700></canvas>

		<input type="text" id="join-input" class="lobby-input"></input>
		<button id="join-submit-button" class="lobby-button">Join Session</button>

		<input type="text" id="create-input" class="lobby-input"></input>
		<button id="create-submit-button" class="lobby-button">Create Session</button>
	</div>

	<!-- Modal -->
	<div id="message-modal" class="modal fade" role="dialog">
	    <div class="modal-dialog">

		    <!-- Modal content-->
		    <div class="modal-content">
		        <div class="modal-header">
		            <button type="button" class="close" data-dismiss="modal">&times;</button>
		            <h4 class="modal-title" id="message-modal-title"></h4>
		        </div>
		        <div class="modal-body" id="message-modal-body">
		        </div>
		        <!-- <div class="modal-footer" class="message-modal-footer">
		            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div> -->
		    </div>
	  	</div>
	</div>
	<!-- <canvas id="player-canvas" width=700 height=700></canvas> -->
	<script>
		$(function () {
			// $('#message-modal').modal('show');
			// SOCKET.on('show rooms', function (data) {
			// 	console.log("showing rooms", data)
			// 	if (typeof _GS.lobbyScene !== 'undefined' && _GS.lobbyScene.sceneActive_p === true) {
			// 		for (let ii = 0; ii < data.rooms.length; ii += 1) {
			// 			console.log("ROOM: ", data.rooms[ii]);
			// 		}
			// 	}
			// });
			// SOCKET = io.connect('/the_game');

			// SOCKET.on('give feedback', function (data) {
			// 	console.log(data.msg);
			// 	console.alert(data.msg);
			// });

			var GAMELOOP = new GameLoop();
			GAMELOOP.init();
			// Let the server know we need a list of all available rooms.
			// SOCKET.emit('get rooms');

			// SOCKET.emit('create room', {rname: 'THE NEW ROOM'});

			// SOCKET.emit('join room', {rname: 'THE NEW ROOM'});

			// When the server tells us we need to update our 'rooms' list.
			// SOCKET.on('show rooms', function (data) {
			// 	for (let ii = 0; ii < data.rooms.length; ii += 1) {
			// 		console.log("ROOM: ", data.rooms[ii]);
			// 	}
			// });

			// TODO: implement a visual to the user if a message needs to be displayed.
		});
	</script>
</body>
</html>