<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8"></meta>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="style/play.css" rel="stylesheet"></link>
	<script src="game/game.js"></script>
	<style>
		canvas {
			position: absolute;
			top: 20px;
			left: 20px;
		}
		#scenery-canvas {
			background-color: blue;
		}
		#player-canvas {
			background-color: black;
		}
		button {
			width: 200px;
		}
	</style>
</head>
<body>
	<div id="game-container">
		<canvas id="lobby-canvas"></canvas>
		<canvas id="game-canvas" hidden=true></canvas>
		<canvas id="menu-canvas" hidden=true></canvas>
		<canvas id="game-menu-canvas" hidden=true></canvas>
	</div>

	<!-- <canvas id="player-canvas" width=700 height=700></canvas> -->
	<script src="/socket.io/socket.io.js"></script>
	<script>
		$(function () {
			var socket = io.connect('/the_game');

			// Let the server know we need a list of all available rooms.
			// socket.emit('get rooms');

			// socket.emit('create room', {rname: $('#create-room').val()});

			// socket.emit('join room', {rname: $('#join-room').val()});

			// When the server tells us we need to update our 'rooms' list.
			socket.on('show rooms', function (data) {
				for (let ii = 0; ii < data.rooms.length; ii += 1) {
					console.log("ROOM: ", data.rooms[ii]);
				}
			});

			// TODO: implement a visual to the user if a message needs to be displayed.
			socket.on('give feedback', function (data) {
				console.log(data.msg);
				console.alert(data.msg);
			});
		});
	</script>
</body>
</html>