<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8"></meta>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="style/play.css" rel="stylesheet"></link>
	<script src="/socket.io/socket.io.js"></script>
	<script src="scenes/client.sceneInputs.js"></script>
	<script src="scenes/client.MasterScene.js"></script>
	<script src="game/client.game.js"></script>
	<script src="scenes/client.mainScene.js"></script>
	<script src="scenes/client.lobbyScene.js"></script>
	<script src="scenes/client.playScene.js"></script>
	<script src="scenes/client.creditsScene.js"></script>
	<script src="scenes/client.controlsScene.js"></script>
	<script src="scenes/client.highscoresScene.js"></script>
	<script src="characters/sound/soundPool.js"></script>
	<script src="characters/client.textbuttonCharacter.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Boogaloo" rel="stylesheet">
	<style>
		canvas {
			position: absolute;
			top: 20px;
			left: 20px;
		}
		#scenery-canvas {
			background-color: blue;
		}
		#player-canvas {
			background-color: black;
		}
		button {
			width: 200px;
		}
	</style>
</head>
<body>
	<div id="game-container">
		<canvas id="background-canvas" width=1400 height=700 oncontextmenu="return false"></canvas>
		<canvas id="game-canvas" width=1400 height=700 oncontextmenu="return false"></canvas>

		<input type="text" id="join-input" class="lobby-input" hidden=true></input>
		<button id="join-submit-button" class="lobby-button" hidden=true>Join Session</button>

		<input type="text" id="create-input" class="lobby-input" hidden=true></input>
		<button id="create-submit-button" class="lobby-button" hidden=true>Create Session</button>
	</div>

	<!-- Modal -->
	<div id="message-modal" class="modal fade" role="dialog">
	    <div class="modal-dialog">

		    <!-- Modal content-->
		    <div class="modal-content">
		        <div class="modal-header">
		            <button type="button" class="close" data-dismiss="modal" style="float: right; width: 50px;">&times;</button>
		            <h4 class="modal-title" id="message-modal-title"></h4>
		        </div>
		        <div class="modal-body" id="message-modal-body">
		        </div>
		    </div>
	  	</div>
	</div>

	<div id="toast"></div>

	<script>
	var GAMELOOP = undefined;
	var SOUNDBOARD = new SoundPool();
	SOUNDBOARD.playSound({type: 'GameMusic', volume: 0.5, loop: true});
		$(function () {
			GAMELOOP = new GameLoop();
			GAMELOOP.init();
		});

	</script>
</body>
</html>